################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NetClubApi/obj
/NetClubApi/bin/Debug/net8.0
/NetClubApi/bin