################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NetClubApi/obj
/NetClubApi/bin/Debug/net7.0

################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NetClubApi/obj
/NetClubApi/bin/Debug/net7.0

# Visual Studio temporary files
.vs/
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.log
*.pdb
*.obj
*.ilk
*.aps
*.exp
*.res
*.user
*.suo
*.vspscc
*.vssscc
*.ncb
*.psess
*.vsp
*.pidb
*.sqlproj.user
*.cd
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.VC.db-shm
*.VC.db-wal

# ReSharper specific
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esult*/
.nuget/

# Visual Studio Code
.vscode/

# Packages
*.nupkg
*.pkl
*.dll
*.exe
*.cache
*.log
*.zip
*.7z
*.gz
*.rar

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.usertasks

# Entity Framework
*.edmx
*.edmx.diagram
Model.*
*.csdl
*.ssdl
*.msl

# Node.js
node_modules/
npm-debug.log

